:root {
	--primary-color-for-repost: #66D7FF;
	--primary-color-for-repost--faded: #66D7FFAA;
	--primary-color-for-repost--faded26: #66d6ff42;
	--primary-color-for-repost--faded50: #66d6ff80;
	--lighter-color-for-repost: #66D7FF;
	--scroll-color-for-repost: #D9F5FF;
}