:root {
	--primary-color-for-repost: #E25A76;
	--primary-color-for-repost--faded: #E25A76AA;
	--primary-color-for-repost--faded26: #E25A7642;
	--primary-color-for-repost--faded50: #E25A7680;
	--lighter-color-for-repost: #F7C4CE;
	--scroll-color-for-repost: #FEEBEF;
}